body { 
/*http://wallpaperpanda.com/wallpapers/acd/B7A/acdB7Akji.jpg*/
/*http://www.lcaid.com/images/full/2013/04/27/wallpapers-forrest-gump-japanese-art-hd-x_forrest-gump-japanese-art-hd-137820.jpg*/
background: url(https://farm4.staticflickr.com/3916/14693953093_fae5ba62b3_o.jpg) no-repeat top center fixed;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#wrapper {
margin-left: auto;
margin-right: auto;
width: 800px;
height: 100%;
color: #ddd;

}
.to-the-top
{
	margin-top:-20px;
}

a:link {
	color: #8EC1DA;
}

a:visited {
	color: #8e9bda !important;
}

.background-image {
position: fixed;
margin-left: auto;
z-index: -1;
display: block;
background: url(https://farm4.staticflickr.com/3916/14693953093_fae5ba62b3_o.jpg) no-repeat top center fixed;

width: 800px;
height: 110%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
}



.dark
{
border-left-style: solid;
border-right-style: solid;
border-width: 1px;
position: fixed;
z-index: -1;
width: 800px;
margin-left: auto; /*24%*/
background-color: rgba(34,34,34,0.75);
opacity: 0.8;
border-radius: 5px;

}


#name
{
font-family: 'UnifrakturMaguntia', cursive;
font-size: 500%;
}

hr{
	border-top-color: #fffff;
	margin: -20px;
	margin-top:10px;
	margin-bottom: 10px;

}

h1
{
	font-family: 'Lobster', cursive;
}

.cust-div
{
overflow: hidden;
}

.content {
	padding: 20px;
	margin-top: 10px;
left: 0;
right: 0;
z-index: 999;
}




/*
New stuff
*/

*{
  margin: 0;
  padding: 0;
}


button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.left {
  left: 10%;
}

.right {
  left: 90%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}
