<!DOCTYPE html>
<html>
<head>
	<title>Druify</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div class="background-image">

		</div>
		<div class="dark"></div>
		<div class="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
